body {
	/*color: darkred;*/
	background-image: url("../Images/spotlights.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 100px;
	background-size:35%; 

}	

.preamble {
	background-image: url("../Images/download.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	color: green;
	font-size: 30px;
	background-size:cover;
}

.preamble h3 {
	color: yellow;
	font-weight: bolder;
	font-family:Impact;

}



h1 {
	font-family: Arial;
	text-align: center;
	text-decoration: overline;
	font-size: 65px;
	color: #AAFF01;
	background-image: url("../Images/curtains-background.jpg");
	height: 195px;
	background-size:35%;
}


h2 {
	font-family:Helvetica;
	font-style:italic;
	color: #FF00AA;
}